body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222020;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #cbc0c0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

#display {
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #1f1f1f;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}