* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #260445;
}

/* Header */
header {
    background-color: #4a148c;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header p {
    margin-top: 10px;
    font-style: italic;
}

/* Sections */
section {
    padding: 40px;
    margin: 20px auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
    color: #4a148c;
}

/* About */
.about img {
    width: 140px;
    border-radius: 50%;
    margin: 15px 0;
}

/* Skills */
.skills ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Projects */
.project-card {
    margin-bottom: 25px;
}

.project-card img {
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
    border-radius: 8px;
}

/* Resume Button */
.resume a {
    display: inline-block;
    padding: 10px 18px;
    background-color: #00897b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.resume a:hover {
    background-color: #00695c;
    .resume a {
    display: inline-block;
    padding: 10px 18px;
    background-color: #00897b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
}

/* Contact */
.contact p {
    margin: 8px 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
}